{% extends 'layouts/main.html' %}
{% block title %}Início{% endblock %}

{% block content %}

    Informações Sobre o Covid <br/>
    Data: {% print(data_atual) %} <br/>
    
        {% for boletim in informacoes %}
            
            <div class="row">
            <div class="col-md-12 column">
                <div class="card">
      
                    <p class="card_text">UF: <span>{{ boletim['uf'] }}</span></p>
                    <p class="card_text">Estado: <span>{{ boletim['state'] }}</span></p>
                    <p class="card_text">Casos: <span>{{ boletim['cases'] }}</span></p>
                    <p class="card_text">Mortes: <span>{{ boletim['deaths'] }}</span></p>
                    <p class="card_text">Suspeitos: <span>{{ boletim['suspects'] }}</span></p>

                </div>
            </div>
            </div>
        {% endfor %}
{% endblock %}
