{% extends 'layouts/main.html' %}
{% block title %}Início{% endblock %}

{% block content %}

    Home

    {% for boletim in informacoes %}
        <div class="row">
        <div class="col-md-12 column">
            <div class="card">

            <p class="card_text">Data: <span>{{ boletim['date'] }}</span></p>
            <p class="card_text">UF/Link para Boletim:: <span>{{ boletim['state'] }}</span></p>
            <p class="card_text">Observação: <span>{{ boletim['notes'] }}</span></p>
            <p class="card_text">Link: <span>{{ boletim['url'] }}</span></p>

            </div>
        </div>
        </div>
    {% endfor %}

{% endblock %}
