
/**
 * @file
 * Main stylesheet file.
 */


/*****************************************************************************
 * Main elements
 ****************************************************************************/
html {
  overflow-y: scroll;
}
a {
  cursor: pointer;
}
::selection {
  background: #555;
  color: #FFF;
}
::-moz-selection {
  background: #555;
  color: #FFF;
}
::-webkit-selection {
  background: #555;
  color: #FFF;
}

body.login {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

body.login img {
  margin: 0px auto;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Main elements end */


/*****************************************************************************
 * Various other styles
 ****************************************************************************/

.loglife_title h1 {
  font-size: 34px;
  margin: 5px 0px;
}

.loglife_title h2 {
  margin: 30px 0px;
}

a.redirect_url {
  color: black;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Float four columns side by side */
.column {
  margin: 10px 0px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: left;
  background-color: #f1f1f1;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.card_text {
  font-size: 15px;
  margin-bottom: 0px;
}

.card_text span{
  font-weight: bold;
}

.button_service {
  margin: 10px 0px;
}

.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}

/* Various other styles end */
